{% load static %}

<!doctype html>
<html lang="ru-RU">
<head>
    <title>{% block head_title %}{% endblock %}</title>

    {% include "utils/head.html" %}

    {% block extra_head %}{% endblock %}
</head>
<body id="kt_body" class="page-loading-enabled" data-gr-c-s-loaded="true" style="display: none;">

    {% include "utils/page_loader.html" %}

    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-row flex-column-fluid page">
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">

                {% block subheader %}{% endblock %}

                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">

                    <div class="d-flex flex-column-fluid">
                        <div class="container" data-aos="slide-up" data-aos-duration="1000" data-aos-easing="ease-in-out-cubic">

                            {% block content %}{% endblock %}

                        </div>
                    </div>
                </div>

                {% include "utils/footer.html" %}

            </div>
        </div>
    </div>

    {% include "utils/scroll.html" %}

    {% include "utils/scripts.html" %}

    {% block extra_scripts %}{% endblock %}

</body>
</html>