{% load static %}

<div class="footer kt-grid__item" id="kt_footer">
    <div class="container py-8">
        <div class="d-flex align-items-center justify-content-between flex-lg-row flex-column">
            <div class="d-flex align-items-center order-lg-1 order-2">
                <span class="text-muted font-weight-bold mx-2">2020 ©</span>
                <a href="https://github.com/Cellofun" target="_blank" class="fancy-link">Cellofun</a>
            </div>
            <div class="d-flex align-items-center order-lg-2 order-1 mb-lg-0 mb-5">
                <a href="mailto:natalya140568@gmail.com,freckled.cellofun@gmail.com" target="_blank" class="fancy-link pl-0">Написать нам</a>
            </div>
        </div>
    </div>
</div>