<div id="kt_header" class="header">
    <div class="container d-flex align-items-stretch justify-content-between">
        <div class="d-flex align-items-stretch">
            <div class="header-logo header-text">
                <a href="/" class="menu-link">
                    <span class="menu-text menu-text-home text-white">Рецепты из старых тетрадей</span>
                </a>
            </div>
        </div>
        <div class="topbar">
            <div class="topbar-item px-4">
                <a href="{% url 'recipes:recipe-list' %}" class="menu-link menu-link-underline">
                    <span class="menu-text text-white font-weight-bold">Рецепты</span>
                </a>
            </div>
            <div class="dropdown">
                <div class="topbar-item px-4" data-toggle="dropdown" data-offset="10px,0px" aria-expanded="false">
                    <span class="menu-text menu-link-underline text-white font-weight-bold">Категории</span>
                </div>
                <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-right" style="">
                    <ul class="navi navi-hover py-4">
                        {% for category in categories %}
                        <li class="navi-item">
                            <a href="{% url 'recipes:category-list' slug=category.slug %}" class="navi-link">
                                <span class="navi-text">{{ category.title }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>