{% load static %}

<base href="">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
<link href="{% static 'plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'plugins/custom/prismjs/prismjs.bundle.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/apexcharts.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/multiple.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/custom_app.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'media/favicon.ico' %}" rel="shortcut icon">
