{% load static %}

<script src="{% static 'plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'plugins/custom/prismjs/prismjs.bundle.js' %}"></script>
<script src="{% static 'js/scripts.bundle.js' %}"></script>
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/parallax.min.js' %}"></script>
<script src="{% static 'js/multiple.min.js' %}"></script>
<script src="{% static 'js/custom_app.js' %}"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<script>
    AOS.init();
</script>